.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #E42F43;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

	@media (min-width: 768px) {
        .modal-dialog {
          width: 500px; 
        }
	 }
	@media only screen and (max-width: 480px {		
        .modal-dialog {
          width: 350px; 
        }
    }
	@media (min-width: 1200px) {
        .modal-dialog {
          width: 950px; 
        }

    }    